@font-face {
    font-family: 'BalatroFont';
    src: url('font/balatro/balatro.ttf'); 
}
@font-face {
    font-family: 'TitleFont';
    src: url('font/agenda-fantasy-demo/Agenda\ Fantasy\ Demo.ttf'); 
}
body, html{
    font-family: BalatroFont;
    padding: 0px;
    margin: 0px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.boutique{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.joker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 530px;
    font-size: 150%;
}
.joker img{
    width: 316px;
    height: 420px;
    position: relative;
    z-index: 1;
    transition: width 0.5s;
    transition: height 0.5s;
}
.prixjoker{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 70px;
    position: relative;
    top: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #384444;
}
.btnacheter{
    display: none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 70px;
    position: relative;
    bottom: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #34bd86;
    padding-top: 20px;
    transition: display 0.5s;
}

.joker:hover>img{
    width: 326px;
    height: 430px;
}

.joker:hover .btnacheter{
    display: contents;
    display: block;
}
.joker:hover .nomJoker{
    display: contents;
    display: block;
}
.btnacheter:hover{
    background-color: #238f64;

}
.nomJoker{
    display: none;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}


/* Navbar */

@font-face {
    font-family: 'BalatroFont';
    src: url('font/balatro/balatro.ttf'); 
}
@font-face {
    font-family: 'TitleFont';
    src: url('font/agenda-fantasy-demo/Agenda\ Fantasy\ Demo.ttf'); 
}
header{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    text-align: center;
}
header>p{
    font-family: TitleFont;
}
a{
    height: 2em;
    text-decoration: none;
    outline: none;
    color: white;
}