@font-face {
    font-family: 'BalatroFont';
    src: url('font/balatro/balatro.ttf'); 
}
@font-face {
    font-family: 'TitleFont';
    src: url('font/agenda-fantasy-demo/Agenda\ Fantasy\ Demo.ttf'); 
}
header{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    text-align: center;
    align-items: center;
}
header>p{
    font-family: TitleFont;
    margin-left: 10px;
}
a{
    text-decoration: none;
    outline: none;
    color: white;
}
.titre{
    margin: 0;
}
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    height: 24px;
    z-index: 30;
}
  
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
}
  
  
#nav-links {
  display: flex;
}


@media (max-width: 768px) {
header{
  position: sticky;
}
#nav-links {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  width: 200px;
  padding: 20px;
  z-index: 9;
}
.burger {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

  
#nav-links.open {
    display: flex;
  }
}